In [ ]:
import pandas as pd


data = pd.read_csv('ufos.csv')
data.head()

           datetime                  city  ...   latitude   longitude
0  10/10/1949 20:30            san marcos  ...  29.883056  -97.941111
1  10/10/1949 21:00          lackland afb  ...  29.384210  -98.581082
2  10/10/1955 17:00  chester (uk/england)  ...  53.200000   -2.916667
3  10/10/1956 21:00                  edna  ...  28.978333  -96.645833
4  10/10/1960 20:00               kaneohe  ...  21.418056 -157.803611

[5 rows x 11 columns]

In [2]:
data = pd.DataFrame({'Seconds': data['duration (seconds)'], 'Country': data['country'], 'Latitude': data['latitude'], 'Longitude': data['longitude']})
data.Country.unique()

array(['us', nan, 'gb', 'ca', 'au', 'de'], dtype=object)

In [3]:
data.dropna(inplace=True)
data = data[(data['Seconds'] >= 1) & (data['Seconds'] <= 60)]
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25863 entries, 2 to 80330
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Seconds    25863 non-null  float64
 1   Country    25863 non-null  object
 2   Latitude   25863 non-null  float64
 3   Longitude  25863 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1010.3+ KB

In [4]:
from sklearn.preprocessing import LabelEncoder
data['Country'] = LabelEncoder().fit_transform(data['Country'])
data.head()

    Seconds  Country   Latitude   Longitude
2      20.0        3  53.200000   -2.916667
3      20.0        4  28.978333  -96.645833
14     30.0        4  35.823889  -80.253611
23     60.0        4  45.582778 -122.352222
24      3.0        3  51.783333   -0.783333

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
from sklearn.linear_model import LogisticRegression
X = data[['Seconds', 'Latitude', 'Longitude']]
y = data['Country']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
model = LogisticRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print(accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))
print(f"Predictions: {y_pred}")

0.9601778465107288
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        41
           1       0.84      0.22      0.34       250
           2       1.00      1.00      1.00         8
           3       1.00      1.00      1.00       131
           4       0.96      1.00      0.98      4743

    accuracy                           0.96      5173
   macro avg       0.96      0.84      0.86      5173
weighted avg       0.96      0.96      0.95      5173

Predictions: [4 4 4 ... 3 4 4]

C:\Users\PC\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\LocalCache\local-packages\Python313\site-packages\sklearn\linear_model\_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 100 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=100).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [14]:
import pickle
model_filename = 'ufo-model.pkl'
pickle.dump(model, open(model_filename,'wb'))

model = pickle.load(open('ufo-model.pkl','rb'))
sample = pd.DataFrame([[50,44,-12]], columns=['Seconds','Latitude','Longitude'])
print("Predicted country index: ",model.predict(sample)) # Example input: [Seconds, Latitude, Longitude]

Predicted country index:  [1]